@model PostViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row g-5">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Blog
        </h3>

        <article class="blog-post">
            <h2 class="blog-post-title">@Model.CurrentPost.Title</h2>
            <p class="blog-post-meta">@Model.CurrentPost.CreateDate by <a href="https://getbootstrap.com/docs/5.0/examples/blog/#">@Model.CurrentPost.Author</a></p>
            <hr>
            @Html.Raw(@Model.CurrentPost.Content)
             
            <img src="@Model.CurrentPost.PostImage" class="img-fluid"/>
        </article>

    </div>
</div>