@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    @*categories <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" href="">.NET</a>
            <a class="p-2 link-secondary" href="">C#</a>
            <a class="p-2 link-secondary" href="">Patrones</a>
            <a class="p-2 link-secondary" href="">General</a>
        </nav>
    </div>*@
</div>

<main class="container">

    @if (Model != null && Model.HeaderPost != null)
    {
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">@Model.HeaderPost.Title</h1>
                <p class="lead my-3">@Model.HeaderPost.Description</p>
                <p class="lead mb-0">@Html.ActionLink("Continue leyendo..", "Index", "Post", new {IdPost = Model.HeaderPost.Id}, new { @class = "text-white fw-bold"})</p>
            </div>
        </div>
    }      

    <div class="row mb-2">

        @if (Model != null && Model.SecondPost != null)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">@Model.SecondPost.PostCategories?.FirstOrDefault()?.Category?.Name</strong>
                        <h3 class="mb-0">@Model.SecondPost.Title</h3>
                        <div class="mb-1 text-muted">@Model.SecondPost.CreateDate.ToShortDateString()</div>
                        <p class="card-text mb-auto">@Model.SecondPost.Description</p>
                        <p class="lead mb-0">@Html.ActionLink("Continue leyendo..", "Index", "Post", new {IdPost = Model.SecondPost.Id}, new { @class = "link-primary"})</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="@Model.SecondPost.HeaderImage" class="rounded bd-placeholder-img" alt="..." width="200" height="250" preserveAspectRatio="xMidYMid slice">
                    </div>
                </div>
            </div>
        }

        @if (Model != null && Model.ThirdPost != null)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">@Model.ThirdPost.PostCategories?.FirstOrDefault()?.Category?.Name</strong>
                        <h3 class="mb-0">@Model.ThirdPost.Title</h3>
                        <div class="mb-1 text-muted">@Model.ThirdPost.CreateDate.ToShortDateString()</div>
                        <p class="mb-auto">@Model.ThirdPost.Description</p>
                        <p class="lead mb-0">@Html.ActionLink("Continue leyendo..", "Index", "Post", new {IdPost = Model.ThirdPost.Id}, new { @class = "link-primary"})</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="@Model.ThirdPost.HeaderImage" class="rounded bd-placeholder-img" alt="..." width="200" height="250" preserveAspectRatio="xMidYMid slice">
                    </div>
                </div>
            </div>   
        }

    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Otras publicaciones
            </h3>

            @if (Model?.AllPost != null && Model.AllPost.Count > 0)
            {
                for (int i = 0; i < Model.AllPost.Count; i++)
                {
                    <article class="blog-post">
                        <h2 class="blog-post-title">@Model.AllPost[i].Title</h2>
                        <p class="blog-post-meta">@Model.AllPost[i].CreateDate.ToShortDateString() 
                            @Model.AllPost[i].Author
                        </p>
                        <p>@Model.AllPost[i].Description</p>
                        @Html.ActionLink("Ver publicación..", "Index", "Post", new {IdPost = @Model.AllPost[i].Id}, new { @class = ""})
                        <hr>
                    </article>
                }
            }         
            
            @*pagination  <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="">Antiguos</a>
                <a class="btn btn-outline-secondary disabled" href="" tabindex="-1" aria-disabled="true">Nuevos</a>
            </nav>*@

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">.NET Developer, aprendiendo y aportando un poco de ello.</p>
                </div>

                @*date filter <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="">March 2023</a></li>
                        <li><a href="">February 2022</a></li>
                        <li><a href="">January 2021</a></li>
                    </ol>
                </div>*@

                <div class="p-4">
                    <h4 class="fst-italic">Enlaces</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/erickvazquezi">GitHub</a></li>
                        <li><a href="https://twitter.com/erickvazquezi">Twitter</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>